*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    max-width: 900px;
    max-height: 570px;
}

.canvas{
	width: 900px;
	height: 570px;
	text-align: center;
	background-image: url('../images/forest.png');
	border: 10px solid black;
	border-radius: 10px;
	background-size: 120% 100%;
	float: left;
	z-index: 0;
}


.canvas4{
    width: 900px;
    height: 570px;
    text-align: center;
    background-color: black;
    border: 10px solid black;
    border-radius: 10px;
    background-size: 120% 100%;
    position: absolute;
    z-index: 9999;
    color: white;
    top: 0;
    left: 0;
    display: none;
}


.hiding {
    position: relative;
    /* padding-top: 296px; */
    z-index: 95;
    bottom: -359px;
    height: 154px;
    width: 268px;
}

.hiding2{
	position: absolute;
	/*padding-top: 100px;*/ 
	width: 125px;
	height: 100px;
	top: 259px;
	z-index: 95;
}



.hiding4 {
    position: absolute;
    /* padding-top: 100px; */
    width: 584px;
    height: 553px;
    top: -33px;
    left: 213px;
     z-index: 90;
}
.hiding3{
	position: absolute;
	/*padding-top: 100px;*/ 
	width: 100px;
	height: 100px;
	top: 259px;
	left: 288px;
	z-index: 95;
}

#addScore1{
    position: relative;
    top: 41px;
    left: -308px;
    color: white;
    background-color: darkgreen;
    padding: 20px;
    border: 5px solid white;
    border-radius: 10px;
    padding-right: 25px;
    z-index: 99;
}


#countdowntimer {
    position: relative;
    top: 133px;
    left: -422px;
    color: white;
    background-color: darkgreen;
    padding: 20px;
    border: 5px solid white;
    border-radius: 10px;
    padding-right: 25px;
    z-index: 99;
}

#image{
	width:60px;
    height:60px;
}

.gameover{
    margin-top: 20%;
    letter-spacing: 5px;
}


.scoreFont{
    font-size: 27px;
    margin-top: 30px;
}

.buttonDesign {
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-top: 80px;
    letter-spacing: 2px;
    font-size: 20px;
}

.buttonDesign:hover{
    transform: scale(1.1);
}